html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  position: relative;
  max-height: 500px;
  max-width: 50em;
}

img {
  display: block;
  overflow: hidden;
  width: 100%;
}

.banner {
  position: absolute;
  top: 10px;
  left: 10px;
  max-height: 500px;
  max-width: 50em;
}

h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  margin: 0;
}

p {
  font-size: 2rem;
  font-style: italic;
}
