html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  position: relative;
  display: block;
  max-height: 500px;
  width: 100%;
}

img {
  display: block;
  overflow: hidden;
  width: 100%;
}

.banner {
  display: block;
  position: absolute;
  top: 5px;
  bottom: 10px;
  left: 25px;
  max-width: 50em;
  transform: translateX();
}

h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  margin: 0;
  display: inline;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
  padding-top: 1rem;
}
